/* Mobile first design. Stardard CSS will run for width < 500px */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.75);
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 270px;
    overflow: hidden;
    height: 1000px;
    margin-top: 100px;
}

.section-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

img {
    width: 25%;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0px;
}

p {
    margin: 0px;
}

.btn {
    font-weight: 700;
    align-self: flex-start;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    border: none;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.sedans .btn {
    color: hsl(31, 77%, 52%);
}

.suvs .btn {
    color: hsl(184, 100%, 22%);
}

.luxury .btn {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: hsl(0, 0%, 95%);
}

.attribution {
    text-align: center;
    margin-top: 30px;
    color: black;

    a {
        text-decoration: none;
        color: hsl(31, 77%, 52%);
        font-weight: 600;
    }
}

@media screen and (min-width: 800px) {
    body {
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 900px;
        height: 500px;
    }

    .section-container {
        justify-content: space-around;
        padding: 40px;
    }

    .btn {
        width: 70%;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 30px;
        padding: 15px 0px;
    }

    .sedans .btn {
        color: #fff;
        background-color: hsl(31, 77%, 52%);
    }

    .suvs .btn {
        color: #fff;
        background-color: hsl(184, 100%, 22%);
    }

    .luxury .btn {
        color: #fff;
        background-color: hsl(179, 100%, 13%);
    }

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: hsl(0, 0%, 95%);
    }

    .sedans .btn:hover {
        color: hsl(31, 77%, 52%);
    }

    .suvs .btn:hover {
        color: hsl(184, 100%, 22%);
    }

    .luxury .btn:hover {
        color: hsl(179, 100%, 13%);
    }
}
